<div class="row">
  <%= link_to "Go Back To Homepage", root_path, class: "btn btn-success", style: "margin-top: 20px;" %>
  <div class="model col-lg-12">
    <h1>Projects</h1>
    <h1><%= link_to "New Project", new_project_path, class: "btn btn-primary btn-lg" %></h1>
    <h3 class="text-center"><span>(Viewing videos only works on homepage)</span></h3>

    <div id="main">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="headline">Freelance Work</h2>
        </div>
      </div>
      <div class="inner">
        <!-- Boxes -->
        <div class="thumbnails">
          <%= render @freelance_work %>
        </div>
      </div>
    </div>

    <div id="main">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="headline">Portfolio</h2>
        </div>
      </div>
      <div class="inner">
        <!-- Boxes -->
        <div class="thumbnails">
          <%= render @portfolio %>
        </div>
      </div>
    </div>
    
  </div>
</div>